.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;


  grid-template-areas:
    "h h "
    "n c ";

  grid-template-rows: 60px 1fr;
  /* две строки и размеры весь сайт*/
  grid-column: 2fr 10fr;
  /* две колонки и размер всего сайта*/
  /*grid-gap: 0px;*/
}

.app-wrapper-content { 

  grid-area: c; 
  background-color: #7db3fa; 
  width: 1200px; /* я задал такую ширину подкласса если не сделать то профиль контент разделится пополам*/
 

} 